.moduleContainer .controlsSubmodule {
  .MuiGrid-item {
    padding-top: 1.25rem;
  }
  .harmony-switch {
    margin-left: -12px;
  }
  &.two-columns {
    margin: 0 0 1rem 0;

    .MuiTextField-root {
      width: 120px;
    }

    .MuiGrid-item {
      &:first-of-type {
        padding-bottom: 0;
        padding-left: 0;
      }
      &:last-of-type {
        padding-top: 0;
      }
    }
  }
}
