:root {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

#app {
  margin: 60px auto;
  max-width: 1000px;
  width: 80%;

  .moduleContainer {
    margin-top: 60px;
  }
}
@import './key';
@import './control';
@import './sysex';
@import './midi';
