.MIDIWrapper {
	.MuiGrid-root {
		align-items: center;

		.MIDISelector, .MIDISpeedSelector {
			width: 80%;
		}

	}
}

.MIDISpeedSelector, .MuiListItem-root {
	img {
		width: auto;
		height: 1em;
		margin-right: 1em;
	}
}
