.moduleContainer .sysexSubmodule {
  margin: 0;

  >div {
    &:first-of-type {
      padding-left: 0;
    }
  }

  .sysexOutput {
    font-family: 'Source Code Pro', Consolas, monospace;
  }

  button {
    gap: 0.5rem;
    padding: 0.5rem 1rem;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  .alertContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
  }
}
